# Application Settings
APP_ENV=development
HTTP_PORT=8080
BASE_URL=http://localhost:8080
SMS_ENABLED=false

# Database & Infrastructure
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dugble?sslmode=disable
REDIS_URL=redis://localhost:6379

# Queue / River
QUEUE_ENABLED=true
QUEUE_MAX_WORKERS=10

# Cron
CRON_ENABLED=true
CRON_TIMEZONE=Africa/Accra

# Services
ARCJET_KEY=ajkey_01kpj42remf7db2xfbbv0g7w6x
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# AWS SES Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=Ov23liEvJFmnVQH54OyT
GITHUB_CLIENT_SECRET=b124843f821482a0565018c14c5641c44dd6d6c9

# Google OAuth Configuration
GOOGLE_CLIENT_ID=478959077895-cup856ddsm4h1e6rql9fevc09h1gbmrv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
